interactions:
- request:
    body: username=biglotsuser&client_secret=fakesecret&scope=write&password=password&grant_type=password&client_id=fakebiglots
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://apiqa.chicago.gov/edsapi/oauth/token
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\">\n
        \   <soapenv:Body>\n        <soapenv:Fault>\n            <faultcode>soapenv:Server</faultcode>\n
        \           <faultstring>Policy Falsified</faultstring>\n            <faultactor>https://apiqa.chicago.gov/edsapi/oauth/token</faultactor>\n
        \           <detail>\n                <l7:policyResult status=\"Assertion
        Falsified\" xmlns:l7=\"http://www.layer7tech.com/ws/policy/fault\"/>\n            </detail>\n
        \       </soapenv:Fault>\n    </soapenv:Body>\n</soapenv:Envelope>\n"
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Cnection:
      - close
      - close
    status:
      code: 500
      message: Internal Server Error
version: 1
