interactions:
- request:
    body: username=biglotsuser&client_secret=fakesecret&scope=write&password=Fakepassword1&grant_type=password&client_id=fakebiglots
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://apiqa.chicago.gov/edsapi/oauth/token
  response:
    body:
      string: '{"access_token":"3552326a-f725-4328-a45a-d7b53f5483a0","token_type":"bearer","expires_in":3599,"scope":"write"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
