interactions:
- request:
    body: username=fakebiglots&client_secret=fakesecret&scope=write&password=Fakepassword1&grant_type=password&client_id=fakebiglots
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://apiqa.chicago.gov/edsapi/oauth/token
  response:
    body:
      string: '{"access_token":"7a1c96f1-53e0-4acd-92ff-24dc71416c8e","token_type":"bearer","expires_in":2819,"scope":"write"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"company": {"companyName": "Individual", "country": "United States", "address2":
      "", "zipCode": "60606", "city": "Chicago", "state": "IL", "address1": "123 Main
      St.", "ssn": "123-12-1198"}, "user": {"lastName": "mcalilly", "title": "Individual",
      "secretQuestion": "1", "answerQuestion": "chicago", "firstName": "sam", "email":
      "sam.mcalilly@datamade.us", "userId": "edsreserved_register_test", "password":
      "Password1", "phone": "662-222-2222"}}'
    headers:
      Authorization:
      - Bearer 7a1c96f1-53e0-4acd-92ff-24dc71416c8e
      Content-Type:
      - application/json
    method: POST
    uri: https://apiqa.chicago.gov/edsapi/rest/user/
  response:
    body:
      string: '{"status":"Success"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
