interactions:
- request:
    body: username=fakebiglots&client_secret=fakesecret&scope=write&password=Fakepassword1&grant_type=password&client_id=fakebiglots
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://apiqa.chicago.gov/edsapi/oauth/token
  response:
    body:
      string: '{"access_token":"4048f108-2fae-42d1-9d30-ae3b9bf545b1","token_type":"bearer","expires_in":3599,"scope":"write"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"user": {"firstName": "large", "title": "lots and lots", "phone": "662-339-4512",
      "secretQuestion": 1, "answerQuestion": "Chicago", "userId": "biglotsuser",
      "password": "BadPassword1", "lastName": "lots", "email": "large.lots@datamade.us"},
      "company": {"companyName": "Big Lot Company II", "ssn": "125-43-1242", "zipCode":
      "60606", "city": "Chicago", "state": "IL", "address1": "33 W Main St", "country":
      "United States"}}'
    headers:
      Authorization:
      - Bearer 4048f108-2fae-42d1-9d30-ae3b9bf545b1
      Content-Type:
      - application/json
    method: POST
    uri: https://apiqa.chicago.gov/edsapi/rest/user/
  response:
    body:
      string: '{"status":"Success"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
