interactions:
- request:
    body: username=fakeuser&client_secret=fakesecret&scope=write&password=Fakepassword1&grant_type=password&client_id=fakebiglots
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://apiqa.chicago.gov/edsapi/oauth/token
  response:
    body:
      string: '{"access_token":"3552326a-f725-4328-a45a-d7b53f5483a0","token_type":"bearer","expires_in":3594,"scope":"write"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"edsQuestions": [{"textResponse": "Big Lot Test", "questionCode": "DBA"},
      {"questionCode": "DISCLOSING_ADDRESS", "addressResponse": {"address2": "", "city":
      "Chicago", "country": "United States", "address1": "333 N. LSD", "state": "IL",
      "zipCode": "60601"}}, {"textResponse": "312-555-1444", "questionCode": "POC_PHONE"},
      {"textResponse": "", "questionCode": "POC_FAX"}, {"textResponse": "Test description",
      "questionCode": "PO_DESC"}, {"singleChoosableResponse": "DEPT_OF_PLANNING_AND_DEVELOPMENT",
      "questionCode": "CITY_DEPARTMENT_OR_AGENCY"}, {"textResponse": "2817272", "questionCode":
      "SPEC_NUM"}, {"textResponse": "", "questionCode": "PO_NUM"}, {"textResponse":
      "", "questionCode": "USER_DEPARTMENT_PROJECT_NUMBER"}, {"singleChoosableResponse":
      "PERSON_OR_SOLE_PROPRIETOR", "questionCode": "NATURE_DISCLOSING_PARTY       "},
      {"singleChoosableResponse": "YES", "questionCode": "RELATIONSHIP"}, {"singleChoosableResponse":
      "NO", "questionCode": "DISCLOSING_PROVIDE_INCOME"}, {"complexResponse": [[{"nameResponse":
      {"firstName": "Bernard", "lastName": "Stone"}, "responseCode": null}, {"textResponse":
      "Golf club membership", "responseCode": null}]], "questionCode": "RELATIONSHIP_DETAIL"},
      {"singleChoosableResponse": "YES", "questionCode": "FINANTIAL_INTEREST"}, {"complexResponse":
      [[{"nameResponse": {"suffix": "Jr", "firstName": "Jesse", "lastName": "Jackson"},
      "responseCode": null}, {"singleChoosableResponse": "CITY_ELECTED_OFFICIAL",
      "responseCode": null}, {"textResponse": "Stock in ABC Corp.", "responseCode":
      null}]], "questionCode": "CITY_OFF_NAMES"}, {"singleChoosableResponse": "NO",
      "questionCode": "RETAINED_ENTITIES_EXIST"}, {"singleChoosableResponse": "NO",
      "questionCode": "RETAINED_PERSONS_EXIST"}, {"singleChoosableResponse": "NO",
      "questionCode": "CHILD_S[...]
[...]
